/* CSS DOC */

body 
{
	font-family: "Impact", impact, serif;
	font-size: 22pt; 
    background-color: LightGray;
    border: 20px solid gold;
}
h1 {
    color: DarkOrange;
    text-align: center;
}
h2 {
    color: DarkOrange;
    text-align: left;
}
h3 {
    color: DarkOrange;
    text-align: left;
}
img {
    width: 500px;
    height: auto;
    border: 20px solid gold;
    padding: 5px;
}
li {
    color: DarkOrange;
    font-size: 30px;
}
a:link {
    text-decoration: none;
}
a:hover
{
     color:#00A0C6;
     text-decoration:none;
     cursor:pointer;
